<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-3">
            <p class="sm">Add new computer part</p>
            <form [formGroup]="rForm" (ngSubmit)="postPart()">
                <div class="form-group mt-2">
                    <label for="Name">Name</label>
                    <input class="form-control" type="text" formControlName="name" placeholder="Enter the name of the part"/>
                </div>
                <div class="form-group mt-2">
                    <label for="Desc">Description</label>
                    <textarea class="form-control" formControlName="desc" placeholder="Enter the description of the part"></textarea>
                </div>
                <div class="form-group mt-2">
                    <label for="Type">Type</label>
                    <select class="form-control" formControlName="type">
                        <option value="cpu">CPU</option>
                        <option value="gpu">GPU</option>
                        <option value="motherboard">Motherboard</option>
                        <option value="ram">Ram</option>
                        <option value="ssd">Ssd</option>
                        <option value="hdd">Hdd</option>
                        <option value="psu">Power supply unit</option>
                        <option value="waterCooling">Water cooling units</option>
                        <option value="airCooling">Air cooling units</option>
                        <option value="other">Other</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="Year">Manufacturing year</label>
                    <input class="form-control" type="text" formControlName="year" placeholder="Enter the year of the part manufacturing"/>
                </div>
                <div class="form-group mt-3">
                    <label for="ImageUrl">ImageUrl</label>
                    <input class="form-control" type="text" formControlName="ImageUrl" placeholder="Paste URL for the part"/>
                </div>
                  <input type="submit" class="btn btn-primary mt-3" value="Submit Form" [disabled]="!rForm.valid"/>
          
            </form>
        </div>
    </div>
</div>

  
